<!-- /*
============================================
; Title: about.component.html
; Author: Dan Ross
; Date: 03 Apr 2021
; Modified By: Dan Ross
; Description: This is the 'about' HTML page
;===========================================
*/ -->
<!-- We're using Angular Flex Layouts -->

<!-- Start our main container here.  -->
<!-- Collapse to columns on smaller screens.  -->
<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex>
    <!-- This is our left column -->
    <div fxLayout="column">
      <div>
        <img src="./assets/todolist.jpg" />
      </div>
      <div>
        <em>
          Photo from Forbes.com on
          <a
            class="attribution-link"
            href="https://www.forbes.com/sites/biancabarratt/2019/01/30/how-to-write-a-to-do-list-that-youll-actually-stick-to/"
            target="_blank"
            >Forbes</a
          >
        </em>
      </div>
    </div>
  </div>
  <!-- This is our right column. -->
  <div fxFlex>
    <h1 class="blue">About Nodebucket</h1>
    <p>
      Nodebucket, is task management software designed to simplify the way you
      create, track, edit, and delete time sensitive material. This is a
      full-stack MEAN (MongoDB, Express, Angular, and Node.js) application,
      utilizing the concepts that were taught in previous courses. MongoDB will
      be used for data persistence. Node.js will be used for manipulating and
      returning saved records, SoapUI for unit testing, and Angular for user
      interactions.
    </p>
  </div>
</div>
