<!-- /*
============================================
; Title: main-nav.component.html
; Author: Dan Ross
; Date: 10 April 2021
; Modified By: Dan Ross
; Description: This is the main-nav component HTML file
;===========================================
*/ -->
<mat-sidenav-container class="sidenav-container">
  <!--[ngClass]="{ hidden: !(isHandset$ | async) }" adds the 'hidden' class to hide the sidebar on larger devices (if not handset)  -->
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">nodebucket</a>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/about">About Us</a>
      <a mat-list-item (click)="logOut()">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a routerLink="/">nodebucket</a></span>

      <span class="spacer"></span>
      <!-- These are the links that will only show horizontally on larger screen sizes. -->
      <span *ngIf="!(isHandset$ | async)">
        <a routerLink="/">Home</a>
        <a routerLink="/about">About Us</a>
        <a class="logOut" (click)="logOut()">Log Out</a>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
