<!-- /*
============================================
; Title: login.component.html
; Author: Dan Ross
; Date: 20 March 2021
; Modified By: Dan Ross
; Description: This is the login component file.
;===========================================
*/ -->
<div fxLayout="column">
  <mat-card fxFlex class="mat-elevation-z8 login-container">
    <mat-card-title class="login-title mat-headline"
      >Employee Login</mat-card-title
    >
    <br />
    <mat-card-subtitle class="login-subtitle mat-headline"
      >You must enter a valid numerical employeeId to proceed</mat-card-subtitle
    >

    <mat-card-content>
      <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">
        <!-- Start our login form here. -->
        <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset()">
          <mat-card-content>
            <mat-form-field fxFlex>
              <!-- This is our employee ID entry field. -->
              <input
                matInput
                [formControl]="loginForm.controls['empId']"
                placeholder="Employee ID"
              />
              <!-- Show error if a user clicks out of the field without entering something.  -->
              <mat-error
                *ngIf="
                  loginForm.controls['empId'].hasError('required') &&
                  loginForm.controls['empId'].touched
                "
              >
                Employee ID is a required field
              </mat-error>
              <!-- Show error if entires are not numerical.   -->
              <mat-error
                *ngIf="
                  loginForm.controls['empId'].hasError('pattern') &&
                  loginForm.controls['empId'].touched
                "
              >
                Employee ID must be a numerical value
              </mat-error>
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions align="end">
            <!-- The button will be disabled unless there's a valid entry in the field. -->
            <button
              type="submit"
              fxFlex
              mat-raised-button
              [disabled]="!loginForm.valid"
              color="primary"
            >
              Submit
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
