<!-- /*
============================================
; Title: base-layout.component.html
; Author: Dan Ross
; Date: 20 March 2021
; Modified By: Dan Ross
; Description: This is the base layout component HTML file.
;===========================================
*/ -->
<div fxLayout="column">
  <!-- navigation -->

  <!-- navbar container -->
  <div class="navbar-container">
    <!-- logo -->
<app-main-nav></app-main-nav>
    
  </div>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
